<h2>Warehouses</h2>

<% @warehouses.each do |w| %>
  <h3><%= link_to w.name, w %></h3>
  <div>Code: <%= w.code %></div>
  <div>City: <%= w.city %></div>
  <div>Area: <%= w.area %> m²</div>
<% end %>

<% if @warehouses.empty? %>
  <p>There are no registered warehouses!</p>
<% end %>