<h2>Warehouses</h2>

<% @warehouses.each do |warehouse| %>
  <h3><%= link_to warehouse.name, warehouse %></h3>
  <div><strong>Code</strong>: <%= warehouse.code %></div>
  <div><strong>City:</strong> <%= warehouse.city %></div>
  <div><strong>Area:</strong> <%= warehouse.area %> m²</div>
<% end %>

<% if @warehouses.empty? %>
  <p>There are no registered warehouses!</p>
<% end %>