<h2>Warehouses</h2>

<% @warehouses.each do |w| %>
  <%= w.name %>
  Code: <%= w.code %>
  City: <%= w.city %>
  Area: <%= w.area %> m2
<% end %>

<% if @warehouses.empty? %>
  <p>There are no registered warehouses!</p>
<% end %>