/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* global settings */
h1 {
  text-align: center;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h2 {
  text-align: center;
  margin-top: 40px;
}

.success-message {
  color: green;
  background-color: #d4edda;
  border: 1px solid #c3e6cb;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
}

.error-message {
  color: #e74c3c;
  background-color: #f8d7da;
  border: 1px solid #f5c6cb;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
}

.field-error {
  color: red;
}

.no-data {
  text-align: center;
  font-size: 24px;
  margin-top: 60px;
}

/* navbar */
nav {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  margin-bottom: 20px;  
}

nav ul {
  display: flex;
  list-style: none;
  align-items: center;
}

nav ul li:nth-child(n+2) {
  margin-left: 30px;
}

.user {
  display: flex;
  margin-left: auto;
  margin-right: 40px;
}

/* tables */
table {
width: 100%;
border-collapse: collapse;
}

table, th, td {
border: 1px solid black;
padding: 5px 0;
}

td {
text-align: center;
}

/* forms */
.form-container {
  display: flex;
  justify-content: center;
}

.form-container form {
  border: 2px solid rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 30px;
  max-width: 400px;
  width: 100%;
}

.form-container form div {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

input {
  padding: 5px;
  border-radius: 3px;
}

/* buttons */
.new-button {
  text-align: center;
  margin-bottom: 20px;
}

.action-button {
  display: flex;
  margin-top: 20px;
}

.delete {
  margin-left: 20px;
}

/* sections */
.suppliers {
  max-width: 50vw;
  margin: 0 auto;
}

/* devise */
.devise-shared {
  text-align: center;
}