<h2>Suppliers</h2>

<% if @suppliers.any? %>
  <table>
    <thead>
      <tr>
        <th>Brand Name</th>
        <th>Location</th>
      </tr>
    </thead>
    <tbody>
      <% @suppliers.each do |supplier| %>
      <tr>
        <td><%= supplier.brand_name %></td>
        <td><%= supplier.city %> - <%= supplier.state %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>There are no registered suppliers!</p>
<% end %>